<%= form_tag admin_category_path(params[:id]), method: "get", remote: true,
  class: "input-group" do %>
  <%= text_field_tag :search, params[:search], placeholder: t("search_text"),
    class: "form-control txtSearch" %>
  <span class="input-group-btn">
    <button class="btn btnSearch" type="submit">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </span>
<% end %>
