<% provide :title, t("user_index_title") %>
<h1><%= link_to t("user_index_title"), users_path %></h1>
<div class="col-md-4 col-md-offset-8">
  <%= render "users/search_form" %>
</div>
<div class="col-md-12">
  <div class="users">
    <%= render @users %>
  </div>
  <%= will_paginate @users %>
</div>
