<div class="result-item">
  <div class="item-header row">
    <strong><h4><%= f.object.word.content %></h4></strong>
  </div>
  <div class="item-content">
    <% f.object.word.answers.each do |answer| %>
      <div>
        <%= f.radio_button :answer_id, answer.id,
          checked: f.object.answer_id == answer.id %>
        <%= answer_label f.object, answer %>
      </div>
    <% end %>
  </div>
</div>
