@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  //background-color: #ffefef;
  background-image: url("https://d107cgb5lgj7br.cloudfront.net/img/backgrounds/noise-grey.v1.png");
  padding-top: 50px;
  color: #666666;
}

.content {
  margin-top: 30px;
  min-height: 800px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  margin-top: -30px;
  h1 {
    text-align: left;
  }
  h4 {
    color: white;
  }
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  &:hover {
    text-decoration: none;
  }
}

/* will_paginate */

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
}

.pagination .disabled {
  color: #aaaaaa;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

.pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}

.pagination a:hover, .pagination a:focus {
  background: #6BDE25;
  color: white;
}

.pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.pagination .previous_page, .pagination .next_page {
  border-width: 2px;
}

.pagination .previous_page {
  margin-right: 1em;
}

.pagination .next_page {
  margin-left: 1em;
}

/* header */
.header {
  background-color: #11a3ed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.navbar-nav > li > a {
  color: white;
  font-weight: bold;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

#logo {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

/* parallax */
.parallax {
  padding: 60px 0;
  background-image: linear-gradient(to bottom, #36ADED, #2183E3);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  h1 {
    font-size: 55px;
    color: white;
  }
  h2 {
    font-size: 20px;
    color: wheat;
  }
}

.btn-signup {
  border: 0;
  border-radius: 0;
  background-color: #6BDE25;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  &:hover {
    background-color: #6BDE25;
    transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: scale(1.05, 1.05);
  }
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* users index page */

.users {
  margin-bottom: 10px;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.word-item-panel {
  display: none;
}
/* search form */
.search-form {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 3px;
  background-color: #fff;
}
.txtSeach {
  border: none;
  box-shadow: none;
}

.btnSearch {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

.btnSearch:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

.search-words-form {
  float: right;
}

/* show words in category */
.show-word {
  text-align: center;
}

#category-filter-form {
  display: none;
}

/* categories index page */
.categories-header {
  background-color: white;
  border-bottom: 1px solid black;
  padding: 16px;
  margin-top: -20px;
}

.categories-btn {
  text-transform: uppercase;
  font-size: 25px;
  color: black;
  font-weight: bold;
  &:hover {
    color: #2183E3;
    text-decoration: none;
  }
}

.category {
  margin-top: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.16);
}

.learn-btn {
  background-color: #6BDE25;
  border: 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
}

.avatar-header {
  background-color: #11a3ed;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.avatar {
  margin-top: 15px;
}

.item-footer {
  padding: 10px;
  background-color: #f8f8f8;
}

.category-item-content {
  padding: 16px 20px 5px;
}

.category-img {
  height: 100px;
}

.category-item-name {
  margin-left: 110px;
}

p.category-description {
  margin: 0px;
}

/* user profile page */
.people-to-follow {
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.people-to-follow-header {
  padding: 10px;
  height: 50px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

/* user profile widget*/

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-widget {
  border: none;
  position: relative;
}

.widget-user .widget-user-header {
  padding: 20px;
  height: 120px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.widget-user .widget-user-username {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.widget-user .widget-user-desc {
  margin-top: 0;
}

.widget-user .widget-user-image {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -45px;
}

.widget-user .widget-user-image > img {
  width: 90px;
  height: auto;
  border: 3px solid #fff;
}

.widget-user .box-footer {
  padding-top: 30px;
}

.widget-user-2 .widget-user-header {
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.widget-user-2 .widget-user-username {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
}

.widget-user-2 .widget-user-desc {
  margin-top: 0;
}

.widget-user-2 .widget-user-username,
.widget-user-2 .widget-user-desc {
  margin-left: 75px;
}

.widget-user-2 .widget-user-image > img {
  width: 65px;
  height: auto;
  float: left;
}

.description-block {
  display: block;
  margin: 10px 0;
  text-align: center;
}

.description-block.margin-bottom {
  margin-bottom: 25px;
}

.description-block > .description-header {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
}

.description-block > .description-text {
  text-transform: uppercase;
}

.bg-aqua-active {
  background-color: #00a7d0 !important;
}

.follow-btn {
  background-color: #6BDE25;
  border: 0px;
  padding: 10px 105px;
  &:hover {
    background-color: #00a7d0;
  }
}
.unfollow-btn {
  padding: 10px 99px;
}

.nav-tabs-custom > .tab-content {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  min-height: 725px;
}

.nav-pills > li > a {
  border-radius: 6px;
  border-top: 3px solid transparent;
  color: #3E3E3E;
}

.nav-pills > li > a > .fa,
.nav-pills > li > a > .glyphicon,
.nav-pills > li > a > .ion {
  margin-right: 5px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #73c7f4;
}

.nav-pills > li > a:hover {
  background-color: #b0daf0;
}

.nav-pills > li.active > a {
  font-weight: 600;
}

.pills-container {
  background-color: white;
  padding: 5px 0;
}

/* lessons table*/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color: #11a3ed;
  color: white;
}

/*404 page*/

.error-page {
  width: 600px;
  margin: 20px auto 0 auto;
}

.error-page > .headline {
  float: left;
  font-size: 100px;
  font-weight: 300;
}

.error-page > .error-content {
  margin-left: 190px;
  display: block;
}

.error-page > .error-content > h3 {
  font-weight: 300;
  font-size: 25px;
}

.text-yellow {
  color: #f39c12 !important;
}

/* do lesson and view result*/

.lesson-header {
  text-align: left;
  font-size: xx-large;
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 50px;
}

.item-header {
  background: #eaeaea;
  color: black;
  padding: 4px 20px;
}

.result-row {
  margin-bottom: 30px;
}

#lesson-countdown {
  text-align: right;
}

.btn-finish {
  float: right;
  background-color: #6BDE25;
  color: white;
  padding: 5px 30px;
}
